@charset "utf-8";
/*
	SuEis@qq.com
*/

/*底部内容*/
#footer{margin:0 auto;width:100%;height:150px;background: url(../images/footer.png) repeat-x;clear:both;}
	
	/*显示的内容*/
	.footer-a{margin:0 auto; width:1000px;height:150px;text-align:center;}

	/*网站地图等链接*/
	.fo-ul{height:30px;border-bottom:1px dashed #aaa;line-height:30px;}
		.fo-li{display:block;float:left;font-size:20px;margin-left:40px;}

		.fo-li>a{color:#888;}

		.fo-li>a:hover{color:#ccc;}

	/*友情链接等*/
	.fo-ul2{height:30px;line-height:30px;}
		.fo-li2{display:block;float:left;font-size:14px;margin-left:40px;}

	/*版权信息*/
	.fo-text{clear:both;display:block;top:10px;position:relative;}
